<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>QR Code</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
    <h1>QR Code for Table</h1>

    <div>
        <h2>Scan this QR code:</h2>
        <img th:src="@{'data:image/png;base64,' + ${qrcode}}" alt="QR Code"/>
    </div>

    <div>
        <p>Or use this URL: <a th:href="${url}" th:text="${url}"></a></p>
    </div>
</div>
</body>
</html>